/* Sección Quienes Somos */
.q_quienes-somos {
    text-align: left; /* Alineado a la izquierda */
    max-width:max-content;
    width: 100%;
    max-width: 1200px; /* Aumenta el ancho máximo */
    padding-left: 5.3%; /* Más grueso y más grande */
    

}

/* Título principal */
.q_titulo-principal {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000; /* Negro llamativo */
    margin-bottom: 0%;
}

/* Subtítulo */
.q_subtitulo {
    font-size: 1.5rem;
    font-weight: normal;
    color: #000000; /* Negro */
    margin-top: 0px;
    margin-bottom: 0%;

}

/* Párrafo */
.q_parrafo {
    font-size: 1rem;
    color: #000000; /* Negro */
    max-width: 90%;
    margin-top: 5px;

}
